// bower:scss
// endbower

#armadillo_container {
    bottom: 30px;
    display: block;
    left: '100%';
    position: fixed;
    text-align: center;
    z-index: 9999;

    img#armadillo {
        z-index: 9999;

        &.reverted {
            -moz-transform: scaleY(-1);
            -o-transform: scaleY(-1);
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
            filter: FlipV;
            -ms-filter: "FlipV";

            + #armadillo_shadow {
                box-shadow: 0 10px 8px #000;
                height: 2px;
                left: 15px;
                top: -15px;
                width: 30%;
            }
        }
    }

    #armadillo_shadow {
        background: transparent;
        border-radius: 10px;
        box-shadow: 0 15px 10px #555;
        content: " ";
        display: block;
        height: 1px;
        margin: 0 auto;
        position: relative;
        top: -25px;
        width: 95%;
        z-index: -1;
    }
}
