// bower:scss
// endbower

img#armadillo {
    display: block;
    margin: 3em auto 1em;
    text-align: center;

    &.reverted {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
    }
}
